CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
bin
Testing/

TAGS
*~
*.swp
*.os
*.*.orig
*.output
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb
*.opt
*.jsh
*.jsall
*.py[co]
*.log
*.ex[ep]
*.idb
*.pdb
*.manifest
*.user
*.*sdf
*.psess
*.diag.ini
*#
.#*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
