CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
bin
Testing/

TAGS
*~
*.swp
*.[oa]
*.os
*.obj
*.*.orig
*.output
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb
*.obj
*.opt
*.pch
*.jsh
*.jsall
*.py[co]
*.log
*.ex[ep]
*.dll
*.lib
*.idb
*.pdb
*.manifest
*.user
*.gch
*.*sdf
*.psess
*.diag.ini
*#
.#*
